.list-action {
    min-width: 400px;
}

.open,
.closed {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

.popup-brand {
    padding-right: 14px;
}

.details, .details * {
    height: auto !important;
}

.mdl-card__actions {
    margin: 0;
}

.open {
    max-height: 150px !important;
    padding-top: 9px;
    padding-bottom: 9px;
    opacity: 1;
}

.title {
    color: #fff !important;
    height: 60px;
    background: rgb(96, 125, 139);
}

.more {
    width: 70px;
}

.mdl-list__item {
    min-height: 0;
}

.mdl-list {
    overflow-y: scroll;
    height: 285px;
}

.short {
    width: 190px;
    /* http://stackoverflow.com/questions/3695435/crop-text-too-long-inside-div */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
